
@{
    ViewData["Title"] = "Tools";
}

<h1>Tools</h1>

<div class="card">
    <div class="row"><div class="col"><button id="queue">Queue test</button></div><div class="col">click the Queue test button to send three messages to Queue storage.</div></div>
    <div class="row"><div class="col"><button id="load">Load test</button></div><div class="col">click the Load test button to run a processor load for 3 minutes.</div></div>
</div>

<div id="result" class="card"></div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const queue = document.getElementById('queue')
        const load = document.getElementById('load')
        const result = document.getElementById('result')
        queue.addEventListener("click", ()=>{
            fetch("/api/primary/queue?itemCount=3").then((response) => {
                return response.text()
            }).then((text) => {
                result.innerHTML = text
            })
        })
        load.addEventListener("click", ()=>{
            fetch("/api/primary/load?seconds=180&threads=10").then((response) => {
                return response.text()
            }).then((text) => {
                result.innerHTML = text
            })
        })
    })
</script>


