
@{
    ViewData["Title"] = "Tools";
}

<h1>Tools</h1>

<div class="card">
    <div class="row"><div class="col"><button id="queue">Queue test</button></div><div class="col">click the Queue test button to send three messages to Queue storage.</div></div>
</div>

<div id="result" class="card"></div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const sql = document.getElementById('queue')
        const result = document.getElementById('result')
        sql.addEventListener("click", ()=>{
            /*
            const settings = {
                method:'POST',
               
                body:"{name:\"INSERT INTO USERS(username, password) VALUES('slick','password');\""
            }
            */
            fetch("/api/primary/queue?itemCount=3").then((response) => {
                return response.text()
            }).then((text) => {
                result.innerHTML = text
            })
        })
    })
</script>


